<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="sidebar-brand">Clinic Manager</div>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
      <a mat-list-item (click)="logout()" class="logout-link">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-nav">
      <span>Clinic Appointment Manager</span>
      <span class="spacer"></span>
      @if (me$ | async; as me) {
        <span class="user-label">{{ me.username }} ({{ me.role }})</span>
      }
    </mat-toolbar>
    <main class="content-area">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
